


.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;

}

.search-element {
  width: 70%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0 40px;
}

nav ul div {
  display: flex;
}

.each-link { 
  padding: 10px 30px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
/* 
header {
  height: 60px;
} */

.big-header {
  height: calc( 100vh - 109px );
  background-image: url('/images/pairs-background.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.header-text h2 {
  font-size: 38px ;
  margin: 22px 0px; 
}

.header-text p {
  font-size: 20px;
  color:hsl(0, 1%, 75%);
}
  
.search-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form button {
  width: 250px;
  height: 38px;
  background-color: white;
  border: 2px solid #528add;
  border-radius: 50px;
  font-family: lato;
  font-weight: 800;
  color: #528add;
}

.search-form button:hover {
  background-color: #528add;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.search-form h1 {
  font-size: 32px;
  margin: 10px 0;
}

.input-form { 
  margin: 15px 0px;
  width: 100%;
  display: block;
}

.input-form > input {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
}

input {
  border: 1.3px solid #e2dfdf;
  border-radius: 50px;
  height: 50px;
  margin: 2px 0;
}

.btn-primary {
  width: 250px;
  border-radius:230px;
  height:46px;
  margin: 50px 0;
  font-family:'Lato', sans-serif;
}

.search-homepage {
  color:white;
  font-weight: 700;
}

.search-homepage:hover {
  color:white;
  font-weight: 700;
  text-decoration: none;
}

.box-resultslist {
  margin: 20px auto;
  width:97%;
}

.match-results {
  display: flex;
}


.pourcentage-match { 
  font-size: 20px;
  color:#528add;
}


.search-bold-text{
  font-size: 15px;
  font-weight: 800;
}

.search-total-text {
  margin-left: 30px;
}

.total {
  font-size: 30px;
}

.search-results h1 {
  font-size: 28px;
  border-bottom: 2px solid;
  width: 300px;
  margin: 0px auto;
  margin-top : 10px;
  margin-bottom: 40px;
}

/* .button-search-list {

} */

.search-form .box {
  margin: 20px auto;
  width:54%;
  display: flex;
  justify-content: center;
}

.btn-success {
  background-color: #44AF69;
}

.icon-box-mysearch {
  width: 20px;
  height: auto;
}

.div-img-delete {
  width: 30px;
  height: 30px;
  display: flex; 
  justify-content: center;
  align-items: center;
  float: right;
  border: 1px solid #cdcaca;
  border-radius: 6px;
}

.div-img-delete:hover {
  box-shadow: 2px 2px 2px #cdcaca;
}

.box-mysearch {
  width: 346px;
  height: auto; 
  margin: 30px;
}

.all-boxes { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}



.section-all-boxes > hr {
  width: 85%;
  margin: 20px auto;
}

.section-all-boxes h1 {
  font-size: 36px;
    font-weight: 800;
    text-align: left;
    margin-top: 60px;
    margin-left: 144px;
    margin-bottom: 10px;
}

.box-mysearch > h3 {
  margin: 30px;
  font-weight: 800;
  font-size: 20px;
}

.box-mysearch > hr {
  margin: 15px 0;
} 

.icon-box-information {
  width: 30px;
  height: auto;
}

.information-my-box {
  display: flex;
  margin: 0px auto;
  width:202px;
}

.stats-my-box {
  text-align: left;
  margin-left: 10px;
}

.stats-my-box > li {
  list-style-type: none;
}

.img-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.primary-info-box > li {
  list-style-type: none;
  margin: 10px;
}

.primary-info-box {
  text-align: left;
}

.primary-info-box {
  text-align: left;
}

.primary-info-box > li > span {
  color: #528add;
  font-weight: 700;
}

.left-search-form {
  box-sizing: border-box;
}

.range-picker {
  font-family: lato;
}

.two-range-picker {
  box-sizing: border-box;
  display:flex;
  justify-content: center;
}

.DayPickerInput > input {
  width: 170px;
  padding: 11px;
}

.weekday-picker {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.weekday-picker > div {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #528add;
  color: white;
}

.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #528add;
  color: #ffffff;
}

.text-form { 
  margin: 10px;
  text-align: left;
}

.box > form { 
  width:100%;
}

.form-calendar{
  width: 45%;
}

.row {
  justify-content:space-around;
}

.pick-your-date {
  margin-top: 20px;
}

.input-form > p {
  text-align: left;
}

.text-form > img {
  width: 25px;
}

.DayPickerInput > input::placeholder {
  color: #cdcaca;
}

.input-form > input::placeholder {
  color: #cdcaca;
}

.btn-green {
  background-color:#72ae8b;
  color: white;
}

.block-content {
  display:flex;
}

.match-results > div > div > img {
  width: 20px;
  height: 20px;
}

.ratio-result-box {
  width: 25%;
}

.search-form > h3 {
  margin: 20px 0;
  font-size: 20px;
  color: grey;
}

.fb-icons {
  display:flex;
  justify-content: space-between;
}

.hey-box { 
  margin: auto 0px;
}

.hey-box > img {
  height: 20px;
}

hr {
 height: 1px; 
}

.content{ 
  border-right: 1px solid whitesmoke;
  padding-right: 23px;
}

.button.is-success {
  background-color: #72ae8b;
}

.button.is-success:hover {
  background-color: #72ae8b;
}

.buttons.has-addons {
  display: flex;
  justify-content: center;
}

.link-mysearches:hover {
  text-decoration: none;
  background-color: #528add;
  color: white;
  cursor: pointer;
}

.link-mysearches {
  border: 1px solid #528add;
  border-radius: 50px;
  background-color: white;
  color: #528add;
  margin-top: 20px;
  width: 50%;
  font-size: 16px;
  padding: 4px;
  font-family: lato;
}

.equal-img {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.equal-img > img {
  height: 20px;
}

.total-block {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.hey-box > img {
  cursor: pointer;
}

.range-date-whole {
  display: flex;
}

.range-date {
  margin-left: 32px;
}

.range-date-whole.range-date-text p {
  margin-bottom: 0px;
}


.content p:not(:last-child) {
  margin-bottom: 10px;
}

.range-date-text > p {
  font-weight: 800;
}

.content > p {
  max-width: 545px;
}






/* .InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.InputFromTo .DayPicker-Day {
  border-radius: 0 !important;
}
.InputFromTo .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.InputFromTo .DayPickerInput-Overlay {
  width: 550px;
}
.InputFromTo-to .DayPickerInput-Overlay {
  margin-left: -198px;
} */
