


.App {
  text-align: center;
  font-family: 'Nunito', sans-serif;

}

.search-element {
  width: 70%;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0 40px;
}

nav ul div {
  display: flex;
}

.each-link { 
  padding: 10px 30px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
/* 
header {
  height: 60px;
} */

.big-header {
  height: calc( 100vh - 109px );
  background-image: url('/images/pairs-background.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.header-text h2 {
  font-size: 38px ;
  margin: 22px 0px; 
}

.header-text p {
  font-size: 20px;
  color:hsl(0, 1%, 75%);
}
  
.search-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form button {
  width: 250px;
  height: 38px;
  background-color: white;
  border: 2px solid #528add;
  border-radius: 50px;
  font-family: lato;
  font-weight: 800;
  color: #528add;
}

.search-form button:hover {
  background-color: #528add;
  font-weight: 800;
  color: white;
  cursor: pointer;
}

.search-form h1 {
  font-size: 32px;
  margin: 10px 0;
  border-bottom: 3px solid;
}

.input-form { 
  margin: 15px 0px;
  width: 100%;
  display: block;
}

.input-form input {
  width: 100%;
}

input {
  border: 1.3px solid #e2dfdf;
  border-radius: 50px;
  height: 50px;
  margin: 2px 0;
}

.btn-primary {
  width: 250px;
  border-radius:230px;
  height:46px;
  margin: 50px 0;
  font-family:'Lato', sans-serif;
}

.search-homepage {
  color:white;
  font-weight: 700;
}

.search-homepage:hover {
  color:white;
  font-weight: 700;
  text-decoration: none;
}

.box-resultslist {
  margin: 20px auto;
  width:1000px;
}

.match-results {
  display: flex;
}

.match-results p {
  margin-right: 40px;
}

.pourcentage-match { 
  font-size: 20px;
  color:#528add;
}

.box:hover {
  box-shadow: 0px 0px 5px 4px #e2dfdf;
  cursor: pointer;
}

.search-bold-text{
  font-size: 15px;
  font-weight: 800;
}

.search-total-text {
  margin-left: 30px;
}

.total {
  font-size: 30px;
}

.search-results h1 {
  font-size: 28px;
  border-bottom: 2px solid;
  width: 300px;
  margin: 0px auto;
  margin-top : 10px;
  margin-bottom: 70px;
}

/* .button-search-list {

} */

.search-form .box {
  margin: 20px auto;
  width:48%;
}

.btn-success {
  background-color: #44AF69;
}

.icon-box-mysearch {
  width: 20px;
  height: auto;
  float: right;
}

.box-mysearch {
  width: 346px;
  height: 280px; 
  margin: 30px;
}

.all-boxes { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
}

.section-all-boxes > hr {
  width: 85%;
  margin: 20px auto;
}

.section-all-boxes h1 {
  font-size: 36px;
  margin: 37px;
  font-weight: 800;
}

.box-mysearch > h3 {
  margin: 30px;
  font-weight: 800;
  font-size: 20px;
}

.box-mysearch > hr {
  margin: 15px 0;
} 

.icon-box-information {
  width: 30px;
  height: auto;
}







/* .InputFromTo .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.InputFromTo .DayPicker-Day {
  border-radius: 0 !important;
}
.InputFromTo .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.InputFromTo .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}
.InputFromTo .DayPickerInput-Overlay {
  width: 550px;
}
.InputFromTo-to .DayPickerInput-Overlay {
  margin-left: -198px;
} */
